<!-- Main -->
<div id="main" class="container">

  <!-- Intro -->
    <div class="row">
      <section class="6u 12u$(medium)">
        <h2>What is Baseline?</h2>
        <p><strong>Baseline</strong> is a simple boilerplate for creating new projects with <a href="http://skel.io">Skel</a>. It features clear, concise HTML5 and CSS3 code (built on <a href="http://sass-lang.com">Sass</a>), responsiveness right out of the box, off-canvas navigation, an assortment of pre-styled elements, <a href="http://fontawesome.io">Font Awesome</a> icons, and everything offered by Skel + Skel.scss. Baseline is <a href="http://skel.io/license">MIT licensed</a>.</p>
      </section>
      <section class="3u 6u(medium) 12u$(small)">
        <h3>Sed Feugiat</h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum et nullam.</p>
      </section>
      <section class="3u$ 6u$(medium) 12u$(small)">
        <h3>Lorem Ipsum</h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum et nullam.</p>
      </section>
    </div>

  <hr class="major" />
</div>
